<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Customer List</title>
    <style>
    /* Additional style for the company logo and name */
    .company-logo {
        display: flex;
        align-items: center;
        margin-top: 10px;
        margin-left: 20px;
    }

    .logo-img {
        width: 60px; /* Adjust the width as needed */
        height: 40px; /* Adjust the height as needed */
        margin-right: 10px;
    }

    .company-name {
        color: #3498db;
        font-size: 20px;
    }

            body {
            /* Additional style for the company name */
            .company-name {
                color: #3498db;
                font-size: 20px;
                margin-top: 10px;
                margin-left: 20px;
            }
    </style>
</head>
<body>
<div class="company-logo" style="background-color: #3498db;">
    <img src="/pictures/logo.ai" alt="Company Logo" class="logo-img">
    <div class="company-name" style="color: white">Dunder Mifflin</div>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/employees">Employee List</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/customers">Customer List</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container mt-4">
    <h1 class="mb-4">Customer List</h1>
    <ul class="list-group">
        <% customers.forEach(customer => { %>
            <li class="list-group-item">
                <strong>Name:</strong> <%= customer.name %><br>
                <strong>Phone:</strong> <%= customer.phone %><br>
                <strong>Email:</strong> <%= customer.email %>
            </li>
        <% }); %>
    </ul>
</div>
<footer class="footer">
    <div class="container text-center text-dark">
        All rights reserved to Gal Yaish
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
